# EDA: Diagnosing Diabetes

In this project, you'll imagine you are a data scientist interested in exploring data that looks at how certain diagnostic factors affect the diabetes outcome of women patients.

You will use your EDA skills to help inspect, clean, and validate the data.

**Note**: This [dataset](https://www.kaggle.com/uciml/pima-indians-diabetes-database) is from the National Institute of Diabetes and Digestive and Kidney Diseases. It contains the following columns:

- `Pregnancies`: Number of times pregnant
- `Glucose`: Plasma glucose concentration per 2 hours in an oral glucose tolerance test
- `BloodPressure`: Diastolic blood pressure
- `SkinThickness`: Triceps skinfold thickness
- `Insulin`: 2-Hour serum insulin
- `BMI`: Body mass index
- `DiabetesPedigreeFunction`: Diabetes pedigree function
- `Age`: Age (years)
- `Outcome`: Class variable (0 or 1)

Let's get started!

## Initial Inspection

1. First, familiarize yourself with the dataset [here](https://www.kaggle.com/uciml/pima-indians-diabetes-database).

   Look at each of the nine columns in the documentation.
   
   What do you expect each data type to be?

Expected data type for each column:

- `Pregnancies`: *int*
- `Glucose`: *int* 
- `BloodPressure`: *int*
- `SkinThickness`:  *int*
- `Insulin`: *int*
- `BMI`:  *float*
- `DiabetesPedigreeFunction`: *float*
- `Age`: *int*
- `Outcome`: *boolean/int*

2. Next, let's load in the diabetes data to start exploring.

   Load the data in a variable called `diabetes_data` and print the first few rows.
   
   **Note**: The data is stored in a file called `diabetes.csv`.

In [2]:
import pandas as pd
import numpy as np

# load in data
diabetes_data = pd.read_csv('diabetes.csv')
diabetes_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

3. How many columns (features) does the data contain?

In [3]:
# print number of columns
print(f'Número de colunas: {len(diabetes_data.columns)}')

Número de colunas: 9

4. How many rows (observations) does the data contain?

In [4]:
# print number of rows
print(f'Número de registros: {len(diabetes_data)}')

Número de registros: 768

## Further Inspection

5. Let's inspect `diabetes_data` further.

   Do any of the columns in the data contain null (missing) values?

In [5]:
# find whether columns contain null values
print(diabetes_data.describe())

       Pregnancies     Glucose  BloodPressure  SkinThickness     Insulin  \
count   768.000000  768.000000     768.000000     768.000000  768.000000
mean      3.845052  120.894531      69.105469      20.536458   79.799479
std       3.369578   31.972618      19.355807      15.952218  115.244002
min       0.000000    0.000000       0.000000       0.000000    0.000000
25%       1.000000   99.000000      62.000000       0.000000    0.000000
50%       3.000000  117.000000      72.000000      23.000000   30.500000
75%       6.000000  140.250000      80.000000      32.000000  127.250000
max      17.000000  199.000000     122.000000      99.000000  846.000000

              BMI  DiabetesPedigreeFunction         Age
count  768.000000                768.000000  768.000000
mean    31.992578                  0.471876   33.240885
std      7.884160                  0.331329   11.760232
min      0.000000                  0.078000   21.000000
25%     27.300000                  0.243750   24.000000
50%     32.000000                  0.372500   29.000000
75%     36.600000                  0.626250   41.000000
max     67.100000                  2.420000   81.000000

In [6]:
print(diabetes_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    object
dtypes: float64(2), int64(6), object(1)
memory usage: 54.1+ KB
None

In [8]:
print(diabetes_data.isnull().sum())

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

6. If you answered no to the question above, not so fast!

   While it's technically true that none of the columns contain null values, that doesn't necessarily mean that the data isn't missing any values.
   
   When exploring data, you should always question your assumptions and try to dig deeper.
   
   To investigate further, calculate summary statistics on `diabetes_data` using the `.describe()` method.

In [7]:
# perform summary statistics
diabetes_data.describe(include='all')

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,494
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,NaN
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,NaN
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,NaN
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,NaN
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,NaN
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,NaN
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,NaN

7. Looking at the summary statistics, do you notice anything odd about the following columns?

   - `Glucose`
   - `BloodPressure`
   - `SkinThickness`
   - `Insulin`
   - `BMI`

**Your response to question 7**: Yes, Glucose and Blood Pressure can't be zero, like on the dataset. Also SkinThickness and Insulin and BMi

8. Do you spot any other outliers in the data?

**Your response to question 8**: The insuline has a very high value of 846.0 and Pregnancies with a value of 17.

9. Let's see if we can get a more accurate view of the missing values in the data.

   Use the following code to replace the instances of `0` with `NaN` in the five columns mentioned:
   
   ```py
   diabetes_data[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']] = diabetes_data[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']].replace(0, np.NaN)
   ```

In [9]:
# replace instances of 0 with NaN
diabetes_data[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']] = diabetes_data[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']].replace(0, np.NaN)
diabetes_data.describe(include='all')

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,763.000000,733.000000,541.000000,394.000000,757.000000,768.000000,768.000000,768
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,494
mean,3.845052,121.686763,72.405184,29.153420,155.548223,32.457464,0.471876,33.240885,NaN
std,3.369578,30.535641,12.382158,10.476982,118.775855,6.924988,0.331329,11.760232,NaN
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,NaN
25%,1.000000,99.000000,64.000000,22.000000,76.250000,27.500000,0.243750,24.000000,NaN
50%,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.372500,29.000000,NaN
75%,6.000000,141.000000,80.000000,36.000000,190.000000,36.600000,0.626250,41.000000,NaN
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,NaN

10. Next, check for missing (null) values in all of the columns just like you did in Step 5.

    Now how many missing values are there?

In [10]:
# find whether columns contain null values after replacements are made
print(diabetes_data.isnull().sum())

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

11. Let's take a closer look at these rows to get a better idea of _why_ some data might be missing.

    Print out all the rows that contain missing (null) values.

In [13]:
# print rows with missing values
diabetes_data[diabetes_data.isnull().any(axis=1)]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
5,5,116.0,74.0,NaN,NaN,25.6,0.201,30,0
7,10,115.0,NaN,NaN,NaN,35.3,0.134,29,0
...,...,...,...,...,...,...,...,...,...
761,9,170.0,74.0,31.0,NaN,44.0,0.403,43,1
762,9,89.0,62.0,NaN,NaN,22.5,0.142,33,0
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

12. Go through the rows with missing data. Do you notice any patterns or overlaps between the missing data?

**Your response to question 12**: All rows with at least one missing value having a missing value in column **Insulin**

13. Next, take a closer look at the data types of each column in `diabetes_data`.

    Does the result match what you would expect?

In [15]:
# print data types using .info() method
diabetes_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   763 non-null    float64
 2   BloodPressure             733 non-null    float64
 3   SkinThickness             541 non-null    float64
 4   Insulin                   394 non-null    float64
 5   BMI                       757 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 54.1+ KB

14. To figure out why the `Outcome` column is of type `object` (string) instead of type `int64`, print out the unique values in the `Outcome` column.

In [16]:
# print unique values of Outcome column
diabetes_data.Outcome.unique()

array(['1', '0', 'O'], dtype=object)

15. How might you resolve this issue?

**Your response to question 15**: Probably 'O' is referring to 0, so I can just replace 'O' with '0'.

In [19]:
diabetes_data.Outcome = diabetes_data.Outcome.replace('O', 0).astype(int)
diabetes_data.Outcome.unique()

array([1, 0])

In [20]:
diabetes_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   763 non-null    float64
 2   BloodPressure             733 non-null    float64
 3   SkinThickness             541 non-null    float64
 4   Insulin                   394 non-null    float64
 5   BMI                       757 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB

## Next Steps:

16. Congratulations! In this project, you saw how EDA can help with the initial data inspection and cleaning process. This is an important step as it helps to keep your datasets clean and reliable.

    Here are some ways you might extend this project if you'd like:
    - Use `.value_counts()` to more fully explore the values in each column.
    - Investigate other outliers in the data that may be easily overlooked.
    - Instead of changing the `0` values in the five columns to `NaN`, try replacing the values with the median or mean of each column.

In [21]:
for coluna in diabetes_data.columns:
    print(f"Contagem de valores para a coluna {coluna}:")
    print(diabetes_data[coluna].value_counts())
    print("-" * 40)

Contagem de valores para a coluna Pregnancies:
Pregnancies
1     135
0     111
2     103
3      75
4      68
5      57
6      50
7      45
8      38
9      28
10     24
11     11
13     10
12      9
14      2
15      1
17      1
Name: count, dtype: int64
----------------------------------------
Contagem de valores para a coluna Glucose:
Glucose
99.0     17
100.0    17
111.0    14
129.0    14
125.0    14
         ..
191.0     1
177.0     1
44.0      1
62.0      1
190.0     1
Name: count, Length: 135, dtype: int64
----------------------------------------
Contagem de valores para a coluna BloodPressure:
BloodPressure
70.0     57
74.0     52
78.0     45
68.0     45
72.0     44
64.0     43
80.0     40
76.0     39
60.0     37
62.0     34
66.0     30
82.0     30
88.0     25
84.0     23
90.0     22
58.0     21
86.0     21
50.0     13
56.0     12
52.0     11
54.0     11
75.0      8
92.0      8
65.0      7
94.0      6
85.0      6
48.0      5
96.0      4
44.0      4
98.0      3
100.0     3
106.0     3
110.0     3
55.0      2
30.0      2
104.0     2
46.0      2
108.0     2
61.0      1
38.0      1
24.0      1
122.0     1
102.0     1
95.0      1
40.0      1
114.0     1
Name: count, dtype: int64
----------------------------------------
Contagem de valores para a coluna SkinThickness:
SkinThickness
32.0    31
30.0    27
27.0    23
23.0    22
28.0    20
33.0    20
18.0    20
31.0    19
19.0    18
39.0    18
29.0    17
25.0    16
37.0    16
40.0    16
22.0    16
26.0    16
35.0    15
41.0    15
36.0    14
15.0    14
17.0    14
20.0    13
24.0    12
42.0    11
13.0    11
21.0    10
46.0     8
34.0     8
12.0     7
38.0     7
45.0     6
16.0     6
43.0     6
11.0     6
14.0     6
44.0     5
10.0     5
47.0     4
48.0     4
50.0     3
49.0     3
54.0     2
7.0      2
52.0     2
8.0      2
56.0     1
51.0     1
60.0     1
63.0     1
99.0     1
Name: count, dtype: int64
----------------------------------------
Contagem de valores para a coluna Insulin:
Insulin
105.0    11
130.0     9
140.0     9
120.0     8
94.0      7
         ..
73.0      1
171.0     1
255.0     1
52.0      1
112.0     1
Name: count, Length: 185, dtype: int64
----------------------------------------
Contagem de valores para a coluna BMI:
BMI
32.0    13
31.6    12
31.2    12
32.4    10
33.3    10
        ..
36.7     1
41.8     1
42.6     1
42.8     1
46.3     1
Name: count, Length: 247, dtype: int64
----------------------------------------
Contagem de valores para a coluna DiabetesPedigreeFunction:
DiabetesPedigreeFunction
0.258    6
0.254    6
0.268    5
0.207    5
0.261    5
        ..
1.353    1
0.655    1
0.092    1
0.926    1
0.171    1
Name: count, Length: 517, dtype: int64
----------------------------------------
Contagem de valores para a coluna Age:
Age
22    72
21    63
25    48
24    46
23    38
28    35
26    33
27    32
29    29
31    24
41    22
30    21
37    19
42    18
33    17
38    16
36    16
32    16
45    15
34    14
46    13
43    13
40    13
39    12
35    10
50     8
51     8
52     8
44     8
58     7
47     6
54     6
49     5
48     5
57     5
53     5
60     5
66     4
63     4
62     4
55     4
67     3
56     3
59     3
65     3
69     2
61     2
72     1
81     1
64     1
70     1
68     1
Name: count, dtype: int64
----------------------------------------
Contagem de valores para a coluna Outcome:
Outcome
0    500
1    268
Name: count, dtype: int64
----------------------------------------

In [23]:
cols_to_replace = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']

for col in cols_to_replace:
    median_value = diabetes_data.loc[diabetes_data[col].notna(), col].median()
    diabetes_data[col] = diabetes_data[col].replace(np.nan, median_value)

# Exibir as primeiras linhas para confirmar as alterações
print(diabetes_data.head())

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0            6    148.0           72.0           35.0    125.0  33.6
1            1     85.0           66.0           29.0    125.0  26.6
2            8    183.0           64.0           29.0    125.0  23.3
3            1     89.0           66.0           23.0     94.0  28.1
4            0    137.0           40.0           35.0    168.0  43.1

   DiabetesPedigreeFunction  Age  Outcome
0                     0.627   50        1
1                     0.351   31        0
2                     0.672   32        1
3                     0.167   21        0
4                     2.288   33        1

In [24]:
diabetes_data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [27]:
diabetes_data[diabetes_data['Insulin'] > 500]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
8,2,197.0,70.0,45.0,543.0,30.5,0.158,53,1
13,1,189.0,60.0,23.0,846.0,30.1,0.398,59,1
228,4,197.0,70.0,39.0,744.0,36.7,2.329,31,0
247,0,165.0,90.0,33.0,680.0,52.3,0.427,23,0
286,5,155.0,84.0,44.0,545.0,38.7,0.619,34,0
409,1,172.0,68.0,49.0,579.0,42.4,0.702,28,1
584,8,124.0,76.0,24.0,600.0,28.7,0.687,52,1
655,2,155.0,52.0,27.0,540.0,38.7,0.240,25,1
753,0,181.0,88.0,44.0,510.0,43.3,0.222,26,1

In [28]:
len(diabetes_data[diabetes_data['Insulin'] > 500])/len(diabetes_data)

0.01171875

In [29]:
diabetes_data[diabetes_data.Pregnancies > 14]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
88,15,136.0,70.0,32.0,110.0,37.1,0.153,43,1
159,17,163.0,72.0,41.0,114.0,40.9,0.817,47,1

In [30]:
# Identificar outliers para cada coluna numérica usando o método IQR
numeric_cols = diabetes_data.select_dtypes(include=['float64', 'int64']).columns

for col in numeric_cols:
    Q1 = diabetes_data[col].quantile(0.25)
    Q3 = diabetes_data[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = diabetes_data[(diabetes_data[col] < lower_bound) | (diabetes_data[col] > upper_bound)]
    print(f"Coluna {col} - número de outliers: {len(outliers)}")
    print(outliers[[col]])
    print("-" * 40)

Coluna Pregnancies - número de outliers: 4
     Pregnancies
88            15
159           17
298           14
455           14
----------------------------------------
Coluna Glucose - número de outliers: 0
Empty DataFrame
Columns: [Glucose]
Index: []
----------------------------------------
Coluna BloodPressure - número de outliers: 14
     BloodPressure
18            30.0
43           110.0
84           108.0
106          122.0
125           30.0
177          110.0
362          108.0
549          110.0
597           24.0
599           38.0
658          106.0
662          106.0
672          106.0
691          114.0
----------------------------------------
Coluna SkinThickness - número de outliers: 87
     SkinThickness
8             45.0
16            47.0
32            11.0
39            47.0
50            11.0
..             ...
698           11.0
710           13.0
718           46.0
753           44.0
763           48.0

[87 rows x 1 columns]
----------------------------------------
Coluna Insulin - número de outliers: 346
     Insulin
3       94.0
4      168.0
6       88.0
8      543.0
13     846.0
..       ...
753    510.0
755    110.0
760     16.0
763    180.0
765    112.0

[346 rows x 1 columns]
----------------------------------------
Coluna BMI - número de outliers: 8
      BMI
120  53.2
125  55.0
177  67.1
193  52.3
247  52.3
303  52.9
445  59.4
673  57.3
----------------------------------------
Coluna DiabetesPedigreeFunction - número de outliers: 29
     DiabetesPedigreeFunction
4                       2.288
12                      1.441
39                      1.390
45                      1.893
58                      1.781
100                     1.222
147                     1.400
187                     1.321
218                     1.224
228                     2.329
243                     1.318
245                     1.213
259                     1.353
292                     1.224
308                     1.391
330                     1.476
370                     2.137
371                     1.731
383                     1.268
395                     1.600
445                     2.420
534                     1.251
593                     1.699
606                     1.258
618                     1.282
621                     1.698
622                     1.461
659                     1.292
661                     1.394
----------------------------------------
Coluna Age - número de outliers: 9
     Age
123   69
363   67
453   72
459   81
489   67
537   67
666   70
674   68
684   69
----------------------------------------
Coluna Outcome - número de outliers: 0
Empty DataFrame
Columns: [Outcome]
Index: []
----------------------------------------